{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/minimal.css' %}"> <!-- 主样式文件 -->
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <link rel="stylesheet" href="{% static 'css/add.css'%}">
    <link rel="stylesheet" href="{% static 'css/photo.css' %}">
    <link rel="stylesheet" href="{% static 'css/fade.css' %}">
<style>
    body{
        transition: 0.5s;
    }
</style>
</head>
<body class="minimal-body">
<!-- 导航栏 -->
{% include 'header.html' %}

<!-- 主内容区 -->
<main class="minimal-main">
    {% block content %}{% endblock %}
</main>

<!-- 页脚 -->
{% include 'footer.html' %}

<!-- JS 依赖 -->
<script src="{% static 'js/products.js' %}"></script>
<script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/minimal.js' %}"></script>
<script src="{% static 'js/list.js' %}"></script>
<script src="{% static 'js/add.js' %}"></script>
<script src="{% static 'js/fade.js' %}"></script>
</body>
</html>