{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery Collab</title>
    <link rel="stylesheet" href="{% static 'css/fade.css' %}">
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
    <style>
        .qr-code {
            width: 250px;
            height: 250px;
            position: absolute;
            background-image: url("{% static 'asset/profile.jpg' %}");
            border-radius: 10px;
            background-size: cover;
            margin: 70px;
            opacity: 0;
            transition: .5s;
        }
    </style>
</head>
<body>
<div class="card-container">
    <div class="text-content">
        <a href="{% url 'products-list' %}">Gallery Collab</a>
        <h2>WX: Haruko386</h2>
        <span>I'm a Master work in CV,</br>I'm learning new knowledge every day to share with you,<br/>I hope in the days to come<br/>Keep going!!</span>
    </div>
    <div class="cylinders-container">
        <div class="cylinder-main" style="--i:1;--w:1.5"></div>
        <div class="cylinder-main" style="--i:2;--w:1.6"></div>
        <div class="cylinder-main" style="--i:3;--w:1.4"></div>
        <div class="cylinder-main" style="--i:4;--w:1.7"></div>
        <div class="cylinder-secondary" style="--i:1"></div>
    </div>
    <div class="qr-code"></div>

    <!-- 新增按钮区域 -->
    <div class="action-buttons">
        {% if user.is_authenticated %}
            <button class="action-btn" onclick="location.href='{% url 'logout' %}'">Logout</button>
            <button class="action-btn" onclick="location.href='{% url 'product_add' %}'">Add</button>
            <button class="action-btn" onclick="location.href='https://space.bilibili.com/291003955'">Bilibili</button>
        {% else %}
            <button class="action-btn" onclick="location.href='{% url 'login' %}'">Login</button>
            <button class="action-btn" onclick="location.href='https://space.bilibili.com/291003955'">Bilibili</button>
        {% endif %}
        <a href="{% url 'products-list' %}" class="action-btn">Back</a>
    </div>
</div>
<script src="{% static 'js/fade.js' %}"></script>
</body>
</html>